#automaton {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
  float: left;
}

#ui {
  margin-left: 10px;
  float: left;
}

#ui textarea {
  width: 600px;
  height: 700px;
}

#ui button {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
}

#ui button:nth-child(1) {
  margin-left: 0;
}

#ui label {
  display: block;
  float: left;
}

#ui pre {
  width: 600px;
  color: red;
}
